div.form-hero {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 350px;
  height: 250px;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  background-color: #623b81;
  color: #2c2b2b;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

div.form-hero input.hero-name {
  width: 87.5%;
  height: 35px;
  margin-left: 3px;
  margin-top: 35px;
  padding-left: 7px;
  border: none;
  border-radius: 2px;
  background-color: #f3f3f3;
  font-size: 15px;
}

div.form-hero select {
  width: 90%;
  height: 35px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  padding-left: 7px;
  border: none;
  border-radius: 2px;
  background-color: #f3f3f3;
  font-size: 15px;
}

div.form-hero input.hero-lat {
  width: 40%;
  height: 35px;
  margin-left: 0px;
  margin-top: 10px;
  border: none;
  border-radius: 2px;
  background-color: #f3f3f3;
  font-size: 15px;
}

div.form-hero input.hero-lng {
  width: 40%;
  height: 35px;
  margin-top: 10px;
  margin-left: 25px;
  border: none;
  border-radius: 2px;
  background-color: #f3f3f3;
  font-size: 15px;
}

div.hero-form-submit {
  width: 40%;
  height: 28px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 30px;
  text-align: center;
  background-color: #f3f3f3;
  border-radius: 4px;
  color: #2c2b2b;
  padding-top: 7px;
  -webkit-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
}

div.hero-form-submit:hover {
  cursor: pointer;
}
