div.button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 350px;
  height: 30px;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  background-color: #c5c5c5;
  color: #2c2b2b;
  text-align: center;
  padding-top: 14px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

div.button:hover {
  cursor: pointer;
  background-color: #623b81;
  color: #f3f3f3;
}
