div.marker-viewer-container- {
  display: none;
}

div.marker-viewer-container-S {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 300px;
  height: 300px;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  border: 4px solid #540098;
  background-color: #dfc7f2;
}

div.marker-viewer-rank-S {
  width: 100%;
  height: 35%;
  color: #540098;
  font-size: 60px;
  font-family: "UnifrakturCook", cursive;
  text-align: center;
}

div.marker-viewer-close-S {
  width: 60%;
  height: 30px;
  margin-top: 15px;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 5px;
  border-radius: 7px;
  text-align: center;
  color: #2c2b2b;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: #f3f3f3;
  -webkit-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
}

div.marker-viewer-close-S:hover {
  cursor: pointer;
  background-color: #540098;
  color: #f3f3f3;
}

div.marker-viewer-container-A {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 300px;
  height: 300px;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  border: 4px solid #c28600;
  background-color: #ffe9b9;
}

div.marker-viewer-rank-A {
  width: 100%;
  height: 35%;
  color: #c28600;
  font-size: 60px;
  font-family: "UnifrakturCook", cursive;
  text-align: center;
}

div.marker-viewer-close-A {
  width: 60%;
  height: 30px;
  margin-top: 15px;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 5px;
  border-radius: 7px;
  text-align: center;
  color: #2c2b2b;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: #f3f3f3;
  -webkit-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
}

div.marker-viewer-close-A:hover {
  cursor: pointer;
  background-color: #c28600;
  color: #f3f3f3;
}

div.marker-viewer-container-B {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 300px;
  height: 300px;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  border: 4px solid #003546;
  background-color: #cfcfcf;
}

div.marker-viewer-rank-B {
  width: 100%;
  height: 35%;
  color: #003546;
  font-size: 60px;
  font-family: "UnifrakturCook", cursive;
  text-align: center;
}

div.marker-viewer-close-B {
  width: 60%;
  height: 30px;
  margin-top: 15px;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 5px;
  border-radius: 7px;
  text-align: center;
  color: #2c2b2b;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: #f3f3f3;
  -webkit-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
}

div.marker-viewer-close-B:hover {
  cursor: pointer;
  background-color: #003546;
  color: #f3f3f3;
}

div.marker-viewer-container-C {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 300px;
  height: 300px;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  border: 4px solid #2f140e;
  background-color: #e9d7d3;
}

div.marker-viewer-rank-C {
  width: 100%;
  height: 35%;
  color: #2f140e;
  font-size: 60px;
  font-family: "UnifrakturCook", cursive;
  text-align: center;
}

div.marker-viewer-close-C {
  width: 60%;
  height: 30px;
  margin-top: 15px;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 5px;
  border-radius: 7px;
  text-align: center;
  color: #2c2b2b;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: #f3f3f3;
  -webkit-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
}

div.marker-viewer-close-C:hover {
  cursor: pointer;
  background-color: #2f140e;
  color: #f3f3f3;
}

div.marker-viewer-container-God {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 300px;
  height: 300px;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  border: 4px solid #ff0505;
  background-color: #fcbfbf;
}

div.marker-viewer-rank-God {
  width: 100%;
  height: 35%;
  color: #ff0505;
  font-size: 60px;
  font-family: "UnifrakturCook", cursive;
  text-align: center;
}

div.marker-viewer-close-God {
  width: 60%;
  height: 30px;
  margin-top: 15px;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 5px;
  border-radius: 7px;
  text-align: center;
  color: #2c2b2b;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: #f3f3f3;
  -webkit-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
}

div.marker-viewer-close-God:hover {
  cursor: pointer;
  background-color: #ff0505;
  color: #f3f3f3;
}

div.marker-viewer-container-Dragon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 300px;
  height: 300px;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  border: 4px solid #ff5b00;
  background-color: #ffc8aa;
}

div.marker-viewer-rank-Dragon {
  width: 100%;
  height: 35%;
  color: #ff5b00;
  font-size: 60px;
  font-family: "UnifrakturCook", cursive;
  text-align: center;
}

div.marker-viewer-close-Dragon {
  width: 60%;
  height: 30px;
  margin-top: 15px;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 5px;
  border-radius: 7px;
  text-align: center;
  color: #2c2b2b;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: #f3f3f3;
  -webkit-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
}

div.marker-viewer-close-Dragon:hover {
  cursor: pointer;
  background-color: #ff5b00;
  color: #f3f3f3;
}

div.marker-viewer-container-Tiger {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 300px;
  height: 300px;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  border: 4px solid #ff8f00;
  background-color: #f8dfbf;
}

div.marker-viewer-rank-Tiger {
  width: 100%;
  height: 35%;
  color: #ff8f00;
  font-size: 60px;
  font-family: "UnifrakturCook", cursive;
  text-align: center;
}

div.marker-viewer-close-Tiger {
  width: 60%;
  height: 30px;
  margin-top: 15px;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 5px;
  border-radius: 7px;
  text-align: center;
  color: #2c2b2b;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: #f3f3f3;
  -webkit-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
}

div.marker-viewer-close-Tiger:hover {
  cursor: pointer;
  background-color: #ff8f00;
  color: #f3f3f3;
}

div.marker-viewer-container-Wolf {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 300px;
  height: 300px;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  border: 4px solid #c5bf0f;
  background-color: #f6f4b2;
}

div.marker-viewer-rank-Wolf {
  width: 100%;
  height: 35%;
  color: #c5bf0f;
  font-size: 60px;
  font-family: "UnifrakturCook", cursive;
  text-align: center;
}

div.marker-viewer-close-Wolf {
  width: 60%;
  height: 30px;
  margin-top: 15px;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 5px;
  border-radius: 7px;
  text-align: center;
  color: #2c2b2b;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: #f3f3f3;
  -webkit-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
}

div.marker-viewer-close-Wolf:hover {
  cursor: pointer;
  background-color: #c5bf0f;
  color: #f3f3f3;
}

div.marker-viewer-info p {
  color: #2c2b2b;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  padding-left: 12px;
  font-weight: bold;
}
