div.marker-container-S {
  width: 65px;
  height: 65px;
  border: 4px solid #5cb85c;
  background-color: #dfc7f2;
  border-radius: 65px;
  font-family: "UnifrakturCook", cursive;
  font-size: 55px;
  color: #540098;
  text-align: center;
  position: relative;
}

div.marker-container-A {
  width: 65px;
  height: 65px;
  border: 4px solid #5cb85c;
  background-color: #ffe9b9;
  border-radius: 65px;
  font-family: "UnifrakturCook", cursive;
  font-size: 45px;
  color: #c28600;
  text-align: center;
  position: relative;
}

div.marker-container-B {
  width: 65px;
  height: 65px;
  border: 4px solid #5cb85c;
  background-color: #cfcfcf;
  border-radius: 65px;
  font-family: "UnifrakturCook", cursive;
  font-size: 50px;
  color: #003546;
  text-align: center;
  position: relative;
}

div.marker-container-C {
  width: 65px;
  height: 65px;
  border: 4px solid #5cb85c;
  background-color: #e9d7d3;
  border-radius: 65px;
  font-family: "UnifrakturCook", cursive;
  font-size: 50px;
  color: #2f140e;
  text-align: center;
  position: relative;
}

div.marker-title {
  width: 66%;
  height: 90%;
  position: absolute;
  left: 0;
  top: 17px;
  font-family: "Roboto", sans-serif;
  color: #2c2b2b;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 12px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: calc(2 * 18px);
  word-wrap: break-word;
}

div.marker-container-S,
div.marker-container-A,
div.marker-container-B,
div.marker-container-C:hover {
  cursor: pointer;
}
