div.threat-marker-God {
  width: 70px;
  height: 70px;
  border: 4px solid #d9534f;
  background-color: #fcbfbf;
  color: #ff0505;
  font-family: "UnifrakturCook", cursive;
  font-size: 35px;
  text-align: center;
}

div.threat-marker-Dragon {
  width: 70px;
  height: 70px;
  border: 4px solid #d9534f;
  background-color: #ffc8aa;
  color: #ff5b00;
  font-family: "UnifrakturCook", cursive;
  font-size: 24px;
  text-align: center;
}

div.threat-marker-Tiger {
  width: 70px;
  height: 70px;
  border: 4px solid #d9534f;
  background-color: #f8dfbf;
  color: #ff8f00;
  font-family: "UnifrakturCook", cursive;
  font-size: 24px;
  text-align: center;
}

div.threat-marker-Wolf {
  width: 70px;
  height: 70px;
  border: 4px solid #d9534f;
  background-color: #f6f4b2;
  color: #c5bf0f;
  font-family: "UnifrakturCook", cursive;
  font-size: 24px;
  text-align: center;
}

div.threat-marker-God,
div.threat-marker-Dragon,
div.threat-marker-Tiger,
div.threat-marker-Wolf:hover {
  cursor: pointer;
}
